@media screen and (max-width: 1780px) {
    #prices {
        width: 70%;
        margin: auto;
    }

    .price {
        width: calc(50% - 50px);
        margin: 25px;
    }
}

@media screen and (max-width: 1600px) {
    #main-nav {
        padding: 0 10px;
    }
}

@media screen and (max-width: 1500px) {
    #services {
        width: 80%;
    }
}

@media screen and (max-width: 1299px) {
    #btn-hamburger {
        display: flex;
        transform: scale(0.7);
    }

    #main-nav {
        height: 80px;
    }

    #main-ul {
        position: absolute;
        right: -80%;
        top: 80px;
        background: #ffffff;
        width: 400px;
    }

    @keyframes navUlright {
        0% {
            right: -80%;
        }

        100% {
            right: 0;
        }
    }

    @keyframes navUlleft {
        0% {
            right: 0;
        }

        100% {
            right: -80%;
        }
    }

    #main-nav ul li {
        width: 100%;
        float: none;
    }

    #main-ul li .main-a {
        padding: 30px 20px;
    }

    #main-nav ul li a {
        transition: background-color 0.3s ease-in-out;
    }

    #slider {
        top: 80px;
        height: 822px;
    }

    #section1 {
        padding-top: 220px;
        padding-bottom: 60px;
    }

    #section2 {
        padding-top: 60px;
        padding-bottom: 33px;
    }

    #section3 {
        padding-top: 20px;
        padding-bottom: 42px;
    }

    #section4 {
        padding-top: 61px;
        padding-bottom: 13px;
    }

    #section5 {
        padding-top: 61px;
        padding-bottom: 45px;
    }

    #section6 {
        padding-top: 61px;
        padding-bottom: 53px;
    }

    #section7 {
        padding-top: 61px;
        padding-bottom: 61px;
    }
    
    #section10 {
        padding-top: 61px;
        padding-bottom: 61px;
    }

    .p-column {
        width: 100%;
    }

    #box-section3 {
        width: 85%;
        flex-wrap: wrap;
    }

    #box-section3 h3 {
        text-align: center;
    }

    .txt-left {
        width: 100%;
        margin-right: 0 !important;
        margin-left: 0;
    }

    .img-right {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .img-right img {
        width: 300px;
    }

    .box-result:nth-child(2) {
        margin-right: 100px;
    }

    .square-correct {
        width: 70px;
        height: 70px;
        font-size: 1.7rem;
        margin-right: 30px;
    }

    .numbers {
        margin: 20px 0 !important;
    }

    #services {
        width: 90%;
    }

    #prices {
        width: 100%;
    }

    footer {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .box-result {
        width: 50%;
    }

    .box-result:nth-child(1) {
        align-items: flex-start;
        margin-right: 0;
    }

    #numbers {
        flex-wrap: wrap;
    }

    .numbers {
        width: 100%;
        justify-content: flex-start;
        margin: 20px 10px !important;
    }

    .number {
        text-align: left;
    }

    .txt-left {
        margin-right: 40px;
    }

    #section1 {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 1100px) {
    #center-doubt {
        width: 70%;
        flex-wrap: wrap;
        margin: 40px auto 0 auto;
    }

    .center-details, details {
        width: 100%;
    }

    .center-details:nth-child(1) details {
        border-right: 1px solid #ebebeb;
    }

    .center-details:nth-child(1) details:last-child {
        border-bottom: none;
    }
}

@media screen and (max-width: 1040px) {
    #how-it-works {
        width: 650px;
    }

    .txt-list {
        width: 500px;
    }

    .box-services {
        width: 70%;
        justify-content: center;
    }
}

@media screen and (max-width: 920px) {
    #prices, .price {
        width: 450px;
    }
}

@media screen and (max-width: 900px) {
    #slider {
        height: 650px;
    }

    #particles-js {
        display: none;
    }

    .txt-separate, .txt-larger {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .txt-group p {
        margin: 30px auto;
        text-align: center;
    }

    #slider .align-btn-action {
        width: fit-content;
        margin: auto;
    }

    .txt-group {
        width: 90%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    #section9 {
        width: calc(100% - 40px);
        margin: 0 20px;
    }
}

@media screen and (max-width: 860px) {
    #btn-left-service, #btn-right-service {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    #background-occupy {
        height: calc(100% - 70px);
        top: 70px;
    }

    #align-logo img {
        width: 50px;
    }

    #main-nav {
        height: 70px;
    }

    #main-ul {
        top: 70px;
    }

    #slider {
        top: 70px;
        height: 600px;
    }

    #btn-left-slider, #btn-right-slider {
        display: none;
    }

    .txt-group p {
        width: 85%;
    }

    #section1 {
        padding-top: 210px;
    }

    .p-column {
        flex-wrap: wrap;
        margin: 20px auto;
        text-align: left;
    }

    .p-column p {
        width: 77%;
        margin: 10px 30px;
    }

    #btn-circles div, #btn-circles-services div {
        width: 10px;
        height: 10px;
    }

    .square-correct {
        width: 60px;
        height: 60px;
        font-size: 1.4rem;
        margin-right: 20px;
    }

    .box-result {
        width: 100%;
        transform: translateX(0);
        padding: 0;
    }

    #result {
        flex-wrap: wrap;
        margin: 0px auto;
    }

    .box-result:nth-child(1) img {
        width: 400px;
        margin-bottom: 20px;
    }

    .box-result:nth-child(2) {
        margin-right: 0;
    }

    .box-result h3 {
        text-align: center;
    }

    .main-h3 {
        width: 77%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
    }

    #result p {
        width: 77%;
        margin: 25px auto;
    }

    .numbers {
        justify-content: center;
        margin: 10px 0 !important;
    }

    .number {
        text-align: center;
        border-radius: 20px;
        margin: 20px 20px 5px 20px;
    }

    #how-it-works {
        width: 450px;
    }

    .txt-list {
        width: 350px;
    }
}

@media screen and (max-width: 710px) {
    .txt-center {
        width: 100%;
    }

    .box-dife {
        width: 100%;
    }
    
    #page-load img {
        width: 80px;
    }

    #page-load #loading {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 680px) {
    .txt-separate {
        font-size: 0.9rem;
    }

    .txt-larger {
        font-size: 1.8rem;
    }

    .main-h2 {
        font-size: 0.8rem;
    }

    .main-h3 {
        font-size: 1.3rem;
    }

    #align-logo {
        transform: scale(0.9);
        margin-left: 8px;
    }

    #slider {
        height: 450px !important;
        margin-top: 50px;
    }

    #main-nav {
        top: 0;
    }
}

@media screen and (max-width: 670px) {
    .window-modal {
        width: 85%;
        margin: auto;
    }
}

@media screen and (max-width: 660px) {
    #services {
        width: 100%;
    }

    .box-services {
        width: 85%;
        height: auto;
        margin: 20px 0;
        padding: 20px 10px;
        position: relative;
        left: -7px;
    }
}

@media screen and (max-width: 600px) {
    #main-nav ul {
        width: 70%;
    }

    #center-doubt {
        width: 92%;
    }

    .txt-center {
        width: 100%;
    }

    .txt-group p {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .p-column p {
        width: 100% !important;
    }

    .box-result p {
        width: 100% !important;
        padding: 0 30px;
    }

    .txt-left p {
        width: 100% !important;
        margin-left: 0 !important;
    }

    .txt-left {
        padding-right: 12px;
    }

    #box-section3 {
        width: 100%;
        margin: 0 10px;
    }

    footer {
        justify-content: flex-start;
    }

    footer div {
        width: 100%;
        margin: 10px 0;
    }
}

@media screen and (max-width: 513px) {
    .resume .align-modal-btn, .resume .btn-action {
        width: 100%;
    }
    
    .portfolio-box {
        width: 100%;
        margin: 20px 5px;
        padding: 0;
    }
}

@media screen and (max-width: 500px) {
    .main-h3 {
        font-size: 1.3rem;
    }

    #slider {
        height: 550px !important;
        margin-top: 30px;
    }

    #slider .align-btn-action {
        width: 85%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }

    #slider .align-btn-action button {
        margin: 10px;
        width: 100%;
    }

    #how-it-works {
        width: 100%;
    }

    .square-how-it-works {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        margin-top: 20px;
    }

    .square-correct {
        margin: 30px 0;
    }

    .txt-list {
        width: 100%;
        text-align: center;
    }

    #prices, .price {
        width: 100%;
    }

    .price {
        margin-right: 0;
        margin-left: 0;
    }

    .align-btn-action {
        flex-wrap: wrap;
    }

    .align-btn-action .btn-action {
        width: 100%;
    }

    .square-correct {
        position: relative;
    }

    #section4 {
        padding-bottom: 55px;
    }
}

@media screen and (max-width: 410px) {
    #slider {
        height: 700px;
    }
}

@media screen and (max-width: 400px) {
    .align-btn-action {
        width: 90%;
    }
}

@media screen and (max-width: 390px) {
    #slider {
        height: 600px !important;
        margin-top: 50px;
    }
}
