@media screen and (max-width: 1650px) {
    #prices {
        margin: auto;
    }
}

@media screen and (max-width: 1600px) {
    #main-nav {
        padding: 0 10px;
    }
}

@media screen and (max-width: 1299px) {
    html {
        font-size: 0.9rem;
    }

    #btn-hamburger {
        display: flex;
        transform: scale(0.7);
    }

    #main-nav {
        height: 80px;
    }

    #main-ul {
        position: absolute;
        right: -80%;
        top: 80px;
        background: #ffffff;
        width: 400px;
    }

    @keyframes navUlright {
        0% {
            right: -80%;
        }

        100% {
            right: 0;
        }
    }

    @keyframes navUlleft {
        0% {
            right: 0;
        }

        100% {
            right: -80%;
        }
    }

    #main-nav ul li {
        width: 100%;
        float: none;
    }

    #main-ul li .main-a {
        padding: 20px 20px;
    }

    #main-nav ul li a {
        transition: background-color 0.3s ease-in-out;
    }

    #slider {
        top: 80px;
        height: 822px;
    }

    #section1 {
        padding-top: 220px;
        padding-bottom: 30px;
    }

    #section2 {
        padding-top: 60px;
        padding-bottom: 33px;
    }

    #section3 {
        padding-top: 60px;
        padding-bottom: 42px;
    }

    #section4 {
        padding-top: 61px;
        padding-bottom: 13px;
    }

    #section5 {
        padding-top: 61px;
        padding-bottom: 45px;
    }

    #section6 {
        padding-top: 61px;
        padding-bottom: 53px;
    }

    #section7 {
        padding-top: 61px;
        padding-bottom: 62px;
    }

    #section8 {
        padding-top: 61px;
        padding-bottom: 64px;
    }

    .p-column {
        width: 100%;
    }

    .box-result:nth-child(2) {
        margin-right: 100px;
    }

    .square-how-it-works:nth-child(1)::after {
        height: 380px;
        left: 82px;
    }

    .square-correct {
        width: 70px;
        height: 70px;
        font-size: 1.7rem;
        margin-right: 30px;
    }

    #services {
        width: 90%;
    }

    footer {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .box-result {
        width: 50%;
    }

    .box-result:nth-child(1) {
        align-items: flex-start;
        margin-right: 0;
    }

    .box-result:nth-child(1) img {
        width: 120%;
    }

    #numbers {
        flex-wrap: wrap;
    }

    .numbers {
        width: 100%;
        justify-content: flex-start;
        margin: 10px;
    }

    .number {
        text-align: left;
    }

    #box-section3 {
        /* width: 100%; */
        margin: 0;
    }

    .txt-left {
        /* width: 50%; */
        margin-right: 40px;
    }

    .img-right {
        /* width: 250px; */
    }

    #section1 {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 1100px) {
    #center-doubt {
        width: 70%;
        flex-wrap: wrap;
        margin: 40px auto 0 auto;
    }

    .center-details, details {
        width: 100%;
    }
}

@media screen and (max-width: 1040px) {
    #how-it-works {
        width: 650px;
    }

    .square-how-it-works:nth-child(1)::after {
        left: 56px;
    }

    .txt-list {
        width: 500px;
    }
}

@media screen and (max-width: 900px) {
    #slider {
        height: 650px;
    }

    #prices {
        width: 100%;
    }

    #form-center {
        width: calc(100% - 60px);
        margin: auto;
    }

    #particles-js {
        display: none;
    }

    .txt-separate, .txt-larger {
        margin: auto;
        text-align: center;
    }

    .txt-group p {
        margin: 30px auto;
    }

    #slider .align-btn-action {
        width: fit-content;
        margin: auto;
    }

    .txt-group {
        width: 90%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 885px) {
    #services {
        width: 100%;
    }

    .box-services {
        width: 80%;
    }
}

@media screen and (max-width: 860px) {
    #btn-left-service, #btn-right-service {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 0.8rem;
    }

    #background-occupy {
        height: calc(100% - 70px);
        top: 70px;
    }

    #align-logo img {
        width: 50px;
    }

    #main-nav {
        height: 70px;
    }

    #main-ul {
        top: 70px;
    }

    #slider {
        top: 70px;
        height: 600px;
    }

    #btn-left-slider, #btn-right-slider {
        display: none;
    }

    .txt-separate {
        font-size: 1rem;
        letter-spacing: 10px;
    }

    .txt-larger {
        font-size: 2.5rem;
    }

    .txt-group p {
        width: 100%;
    }

    .btn-action {
        width: 170px;
        height: 40px;
    }

    #section1 {
        padding-top: 210px;
    }

    .p-column {
        flex-wrap: wrap;
        margin: 20px auto;
        text-align: left;
    }

    .p-column p {
        width: 100%;
        margin: 10px 30px;
    }

    #btn-circles div, #btn-circles-services div {
        width: 10px;
        height: 10px;
    }

    .square-how-it-works:nth-child(1)::after {
        height: 355px;
        left: 61px;
    }

    .square-correct {
        width: 60px;
        height: 60px;
        font-size: 1.4rem;
        margin-right: 20px;
    }
}

@media screen and (max-height: 800px) {
    #particles-js {
        background-size: 1200px;
    }
}

@media screen and (max-width: 710px) {
    .txt-center {
        width: 100%;
    }

    .box-dife {
        width: 100%;
    }
}

@media screen and (max-width: 670px) {
    #how-it-works {
        width: 450px;
    }

    .square-how-it-works:nth-child(1)::after {
        height: 420px;
        left: 61px;
    }

    .txt-list {
        width: 300px;
    }

    .window-modal {
        width: 85%;
        margin: auto;
    }
}

@media screen and (max-width: 600px) {
    #main-nav ul {
        width: 70%;
    }

    .main-h3 {
        letter-spacing: 7px;
    }

    #result {
        flex-wrap: wrap;
        margin: 0px auto;
    }

    .box-result {
        width: 100%;
        transform: translateX(0);
        padding: 0;
    }

    .box-result:nth-child(1) img {
        width: 100%;
    }

    .box-result:nth-child(2) {
        margin-right: 0;
    }

    .box-result h3 {
        text-align: center;
    }

    #result p {
        margin: 25px 35px;
    }

    .numbers {
        justify-content: center;
    }

    .number {
        text-align: center;
        font-size: 2.5rem;
        border-radius: 20px;
        margin: 0 20px 5px 20px;
    }

    #box-section3 {
        flex-wrap: wrap;
    }

    #box-section3 h3 {
        text-align: center;
    }

    .txt-left {
        width: 100%;
        margin-right: 0;
    }

    .img-right {
        width: 50%;
        margin-bottom: 45px;
        margin-left: 0;
    }

    #center-doubt {
        width: 85%;
    }

    footer {
        justify-content: flex-start;
    }

    footer div {
        width: 100%;
        margin: 10px 0;
    }
}

@media screen and (max-width: 500px) {
    .price {
        width: 100%;
        margin: 20px 30px;
    }
    
}

@media screen and (max-width: 465px) {
    #how-it-works {
        width: 100%;
    }

    .square-how-it-works:nth-child(1)::after {
        left: calc(12% - 2px);
    }

    .txt-list {
        width: 70%;
    }
}

@media screen and (max-width: 430px) {
    .square-how-it-works:nth-child(1)::after {
        height: 455px;
    }
}

@media screen and (max-width: 410px) {
    #slider .align-btn-action {
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }

    #slider .align-btn-action button {
        margin: 10px;
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .txt-larger {
        font-size: 2.5rem;
    }

    .align-btn-action {
        width: 90%;
    }
}

@media screen and (max-width: 370px) {
    .square-how-it-works:nth-child(1)::after {
        height: 505px;
    }
}

@media screen and (max-width: 360px) {
    .txt-larger {
        font-size: 2rem;
    }
}
