* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Montserrat-Light;
    src: url(../font/Montserrat-Light.ttf);
}

@font-face {
    font-family: Oswald-Light;
    src: url(../font/Oswald-Light.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../font/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../font/Roboto-Regular.ttf);
}

html {
    font-size: 1rem;
}

#main-header {
    position: relative;
}

#background-occupy {
    width: 100%;
    height: calc(100% - 80px);
    background: #2c2c2cc2;
    position: fixed;
    z-index: 2;
    top: 80px;
    visibility: hidden;
}

@keyframes occupyBottom {
    0% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

@keyframes occupyTop {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}

#main-nav, #align-logo {
    display: flex;
    align-items: center;
}

#main-nav {
    width: 100%;
    height: 95px;
    justify-content: space-between;
    padding: 0 160px;
    z-index: 3;
    position: fixed;
    transition: background-color 0.3s ease-in-out;
    font-family: Montserrat-Light;
    background: #ffffff;
}

#name-logo {
    color: #2d2e2e;
    font-size: 1.1rem;
}

#align-logo {
    margin: 10px 10px 10px 20px;
}

#align-logo img {
    width: 65px;
    margin-right: 7px;
}

#btn-hamburger {
    width: 45px;
    height: 45px;
    display: none;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 15px;
    position: relative;
}

#btn-hamburger input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

#btn-hamburger input:checked ~ div:nth-child(2) {
    transform: rotate(45deg) translate(10px, 10px);
}

#btn-hamburger input:checked ~ div:nth-child(3) {
    opacity: 0;
}

#btn-hamburger input:checked ~ div:nth-child(4) {
    transform: rotate(-45deg) translate(10px, -12px);
}

#btn-hamburger div {
    width: 100%;
    height: 5px;
    background: #2d2e2e;
    margin: 0;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

#main-ul {
    list-style: none;
    text-transform: uppercase;
    font-size: 0.8rem;
}

#main-ul li {
    float: left;
    position: relative;
}

#main-ul li a {
    text-decoration: none;
    padding: 38px 20px;
    display: block;
    transition: border 0.1s ease-in-out;
    cursor: pointer;
    border-top: 5px solid #ffffff;
}

#main-ul li a#main-a-activated {
    border-top: 5px solid #2b2b2b;
}

#slider {
    height: 700px;
    position: relative;
    top: 91px;
}

#slider .align-btn-action {
    width: fit-content;
    display: block;
    margin: 0;
}

#btn-left-slider, #btn-right-slider {
    width: 80px;
    height: 100%;
    position: absolute;
    top: 0;
    font-size: 4rem;
    font-weight: bold;
    color: #292929;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    z-index: 1;
}

#btn-left-slider:hover, #btn-right-slider:hover {
    background: #77777721;
}

#btn-left-slider {
    left: 0;
}

#btn-right-slider {
    right: 0;
}

#box-slider {
    width: 100%;
    height: 100%;
    font-family: Montserrat-Light;
}

.square-slider {
    height: 100%;
    position: relative;
}

#particles-js {
    width: 100%;
    height: 100%;
    background-image: url(../img/background-01.png);
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: 89% 50%;
    position: relative;
}

.txt-group {
    width: 50%;
    position: absolute;
    left: 35%;
    top: 50%;
    pointer-events: none;
    transform: translate(0, -50%);
    color: #292929;
    animation: txt-group 0.4s linear forwards;
}

.txt-group-display-on {
    display: block;
}

.txt-group-display-off {
    display: none;
}

@keyframes txt-group {
    0% {
        transform: translate(-50%, -10%);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.square-slider span {
    display: block;
}

.txt-separate, .txt-larger {
    width: fit-content;
    letter-spacing: 8px;
}

.txt-separate {
    font-size: 1.2rem;
    text-shadow: 0 0 5px #999999;
}

.txt-larger {
    font-size: 2.5rem;
    font-family: Oswald-Light;
    padding-top: 20px;
    text-shadow: 0 0 5px #999999;
}

.txt-group p {
    width: 80%;
    margin: 30px 0;
    line-height: 2;
    letter-spacing: 1px;
    font-size: 0.9rem;
    font-family: Montserrat-Light;
    color: #333333;
}

.btn-action {
    width: 200px;
    height: 50px;
    color: #ffffff;
    font-family: Roboto-Regular;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: inset 1px 1px 1px 0px #ffffff, 1px 1px 1px 0px #ffffff, 4px 4px 5px 0px #0000001a;
    outline: none;
    background: #2d2e2e;
    padding: 0;
    border: none;
    pointer-events: visible;
    position: relative;
    margin: 20px auto;
}

.btn-action:hover {
    background: #424242;
    box-shadow: none;
    opacity: 1;
    color: #ffffff;
}

.btn-action span {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-action:before,
.btn-action:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: #3b9dff;
    transition: all 0.3s ease;
}

.btn-action:before {
    height: 0%;
    width: 2px;
}

.btn-action:after {
    width: 0%;
    height: 2px;
}

.btn-action:hover:before {
    height: 100%;
}

.btn-action:hover:after {
    width: 100%;
}

.btn-action span:before,
.btn-action span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: #027efb;
    transition: all 0.3s ease;
}

.btn-action span:before {
    width: 2px;
    height: 0%;
}

.btn-action span:after {
    width: 0%;
    height: 2px;
}

.btn-action:hover span:before {
    height: 100%;
}

.btn-action:hover span:after {
    width: 100%;
}

#btn-circles, #btn-circles-services {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

#btn-circles-services {
    display: none;
}

#btn-circles div, #btn-circles-services div {
    width: 15px;
    height: 15px;
    border: 1px solid #2d2e2e;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.1s linear;
}

#btn-circles div {
    animation: circles 0.4s linear forwards;
    opacity: 0;
}

#btn-circles div:hover, #btn-circles-services div:hover {
    transform: scale(1.4);
}

@keyframes circles {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.circle-disabled, .circle-services-disabled {
    background: #ffffff;
}

.circle-activated, .circle-services-activated {
    background: #2d2e2e;
    transform: scale(1.5);
}

.scroll-pos {
    position: relative;
}

#section1 {
    padding-top: 250px;
    padding-bottom: 75px;
}

#wrapper-txt {
    text-align: center;
    overflow: hidden;
}

.p-column {
    width: 1200px;
    margin: 25px auto;
    font-family: Montserrat-Light;
    line-height: 2;
    letter-spacing: 1px;
    font-size: 0.9rem;
}

.p-column, #result, .box-result:nth-child(1), #numbers, .numbers {
    display: flex;
    justify-content: center;
}

.p-column p {
    width: 40%;
    margin: 0 30px;
    color: #333333;
}

.main-h2 {
    font-size: 0.8rem;
    letter-spacing: 8px;
    font-family: Montserrat-Light;
    color: #2d2e2e;
}

.intro-bar {
    width: 100px;
    height: 3px;
    background: #2d2e2e;
    margin: auto;
    margin-top: 10px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

.intro-bar::after {
    content: "";
    width: 100px;
    height: 3px;
    position: absolute;
    left: 0;
    top: 0;
    background: #ffffff;
    animation: introBar 3s ease-in-out infinite;
}

@keyframes introBar {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}

.intro-bar-c2::after {
    background: #fafafa;
}

.intro-bar-c3 {
    background: #ffffff;
}

.intro-bar-c3::after {
    background: #202020;
}

.main-h3 {
    font-size: 1.5rem;
    font-family: Oswald-Light;
    padding-top: 10px;
    color: #2d2e2e;
    letter-spacing: 5px;
    margin: 15px;
}

#result {
    margin: 0px auto;
    overflow: hidden;
}

.box-result {
    width: 500px;
    transform: translateX(40px);
}

.box-result:nth-child(1) {
    align-items: center;
    margin-right: 30px;
}

.box-result:nth-child(1) img {
    width: 110%;
}

.box-result:nth-child(2) {
    margin-right: 60px;
}

#result p {
    margin: 25px 15px;
    font-family: Montserrat-Light;
    line-height: 2;
    font-size: 0.9rem;
    text-align: left;
    color: #333333;
}

.numbers {
    flex-wrap: wrap;
}

.numbers {
    width: 130px;
    margin: 0 30px;
}

.number {
    width: 100%;
    text-align: center;
    font-family: Oswald-Light;
    font-size: 2rem;
    margin-bottom: 5px;
}

.number-desc {
    font-family: Montserrat-Light;
    text-align: center;
    font-size: 0.9rem;
    color: #333333;
}

#section2 {
    text-align: center;
    padding: 80px 20px 51px 20px;
    background: #fafafa;
}

#section2 p {
    margin: 15px auto;
    padding: 0 25px;
    font-family: Montserrat-Light;
    line-height: 2;
    letter-spacing: 1px;
    font-size: 0.9rem;
    color: #333333;
}

#section2 h4 {
    font-size: 1rem;
    letter-spacing: 5px;
    font-family: Oswald-Light;
}

.txt-center {
    width: 650px;
    margin: auto;
}

#dife {
    margin-top: 65px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-dife {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 10px;
    padding-bottom: 10px;
    background: #ffffff;
    box-shadow: -3px 3px 10px #e0e0e0;
    transition: background-color 0.2s linear;
    cursor: default;
    position: relative;
}

.box-dife:hover {
    background: #f8f8f8;
}

.box-dife-img {
    width: 60px;
    height: 60px;
    background: #2d2e2e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-30px);
}

.box-dife-img img {
    width: 30px;
    height: 30px;
}

.box-dife:nth-child(3) .box-dife-img img {
    width: 25px;
    height: 25px;
}

.box-dife-txt h4 {
    margin: 0 20px;
}

#section3 {
    text-align: left;
    padding: 65px 20px 65px 20px;
}

#section3 h3 {
    margin-top: 0;
    padding: 0;
}

#content-blocked {
    display: none;
}

#section3 p {
    margin: 15px;
    font-family: Montserrat-Light;
    line-height: 2;
    letter-spacing: 1px;
    font-size: 0.9rem;
    color: #333333;
}

#box-section3 {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.txt-left {
    width: 50%;
    height: fit-content;
    margin-right: 60px;
    margin-left: 40px;
    padding-top: 10px;
}

.img-right {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-right img {
    width: 100%;
}

#section4 {
    padding: 80px 20px 32px 20px;
    background: #fafafa;
}

#section4 p {
    padding: 0 25px;
    font-family: Montserrat-Light;
    line-height: 2;
    font-size: 0.9rem;
    color: #333333;
}

#section4 .txt-center p {
    margin: 15px auto;
}

.txt-center {
    text-align: center;
    padding: 0 10px;
}

#how-it-works {
    width: 900px;
    margin: auto;
    position: relative;
}

.square-how-it-works {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    position: relative;
}

.square-how-it-works:nth-child(1)::after {
    content: "";
    width: 8px;
    height: 400px !important;
    display: block;
    position: absolute;
    border-radius: 15px;
    left: 77px;
    top: 50px;
    background: #2d2e2e;
    z-index: 1;
}

.square-correct {
    width: 80px;
    height: 80px;
    background: #2d2e2e;
    box-shadow: -3px 3px 10px #575757;
    font-size: 2rem;
    color: #ffffff;
    font-family: Montserrat-Light;
    border-radius: 50%;
    margin-right: 40px;
    font-weight: bold;
    position: relative;
}

.square-pos {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.txt-list {
    width: 700px;
    display: flex;
    align-items: center;
}

#section5 {
    padding: 80px 0 63px 0;
}

#section5 p {
    font-family: Montserrat-Light;
    line-height: 2;
    font-size: 0.9rem;
    color: #333333;
}

#section5 .txt-center p {
    margin: 15px auto !important;
    padding: 0 25px;
}

#services {
    width: 1430px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.box-services {
    width: 400px;
    height: 200px;
    margin: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    background: #2d2e2e;
    color: #dddddd;
    box-shadow: -3px 3px 10px #646464;
}

.services-group {
    padding: 20px;
    position: relative;
}

.services-group p {
    color: #b8b8b8 !important;
}

.box-services img {
    height: 30px;
    position: absolute;
    right: 20px;
    top: 0;
}

.box-services h4 {
    width: 100%;
    font-size: 1rem;
    font-family: Oswald-Light;
    padding-top: 10px;
    letter-spacing: 10px;
    margin: 10px 0;
    color: #ffffff;
}

#section6 {
    padding: 80px 20px 72px 20px;
    background: #fafafa;
}

#section6 p {
    font-family: Montserrat-Light;
    line-height: 2;
    letter-spacing: 1px;
    font-size: 0.9rem;
    color: #333333;
}

#section6 .txt-center p {
    margin: 15px;
    padding: 0 25px;
}

#prices {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.price {
    width: 400px;
    height: auto;
    margin: 10px;
    margin-top: 30px;
    padding-top: 20px;
    font-family: Roboto-Medium;
    position: relative;
    background: #ffffff;
    transition: background-color 0.2s linear;
    border: 1px solid #dcdddf;
    box-shadow: -3px 3px 10px #e0e0e0;
    overflow: hidden;
}

.price h4 {
    text-align: center;
    padding: 20px 0;
    font-size: 1.5rem;
    font-family: Montserrat-Light;
}

.price-line {
    width: 70%;
    height: 3px;
    background: #404040;
    margin: auto;
}

.price-total {
    width: fit-content;
    height: 120px;
    display: flex;
    margin: auto;
    position: relative;
    margin-top: 20px;
}

.portion {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #9e9e9e;
    color: #ffffff;
    padding: 1px 5px;
}

.real {
    padding-top: 59px;
    padding-right: 8px;
    font-family: Oswald-Light;
    color: #424242;
}

.price-current {
    font-size: 3.5rem;
    display: flex;
    align-items: center;
}

.price-sub {
    font-size: 1rem;
    transform: translate(5px, -24px);
    font-family: Oswald-Light;
    color: #424242;
}

.month {
    display: flex;
    transform: translate(-18px, 63px);
    font-family: Roboto-Regular;
    color: #424242;
}

.price-desc p {
    margin: 5px 20px !important;
    padding: 0 4px;
    font-size: 0.8rem !important;
    color: #000000 !important;
}

.check {
    width: 15px;
    margin-right: 5px;
    transform: translate(-5px, 2px);
}

.content-know-more {
    display: flex;
    margin-left: 15px;
}

.btn-know-more, .btn-flat-plans {
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    cursor: pointer;
    background: transparent;
    margin: 15px 5px 0 5px;
    transition: background-color 0.2s linear;
}

.btn-know-more:focus, .btn-flat-plans:focus {
    background-color: #dadada;
}

.btn-know-more:hover, .btn-flat-plans:hover {
    background: #f8f8f8;
}

.window-modal {
    width: 600px;
    height: calc(100% - 100px);
    background: #ffffff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s linear;
    overflow: hidden;
}

.window-modal .btn-action {
    width: 40%;
}

.window-modal-header {
    font-family: Roboto-Medium;
    font-size: 1.5rem;
    padding: 20px;
    background: #2d2e2e;
    color: #ffffff;
}

.btn-close-modal {
    width: 50px;
    height: 50px;
    background: none;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #ffffff;
    background: transparent url(../img/close.svg) center/1.3em auto no-repeat;
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
    float: right;
    margin-top: 5px;
    transition: transform 0.2s linear;
}

.btn-close-modal:hover {
    transform: rotate(-90deg);
}

.window-modal-content {
    height: 88%;
    overflow-y: auto;
    padding: 20px;
}

.window-modal-line {
    height: 1px;
    background: #e2e8f0;
    margin: 20px 0 10px 0;
}

.window-modal-content p {
    font-family: Roboto-Regular;
    color: #747474;
    margin-bottom: 10px;
    line-height: 1.4;
    font-size: 0.9rem;
}

.small-txt {
    color: #444444 !important;
    font-family: Roboto-Medium;
    margin-bottom: 10px !important;
    margin-top: 20px !important;
}

.resume {
    padding: 21px;
    margin-top: 30px;
    border: 1px solid #e2e8f0;
    font-family: Oswald-Light;
    color: #636363;
    line-height: 1.8;
    letter-spacing: 1px;
}

.resume strong {
    color: #444444;
    font-family: Roboto-Regular;
    letter-spacing: 0;
}

.align-modal-btn {
    margin: auto;
    width: 80%;
    display: flex;
}

#background-window-modal {
    width: 100%;
    height: 100%;
    background: #36363686;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.align-btn-action {
    width: 80%;
    display: flex;
    margin: 55px auto 45px auto;
}

.price .btn-action {
    width: 50%;
    margin: 5px;
}

#section7 {
    padding: 82px 0 80px 0;
}

#section7 p {
    font-family: Montserrat-Light;
    line-height: 2;
    font-size: 0.9rem;
    color: #333333;
}

#section7 .txt-center p {
    margin: 15px auto !important;
    padding: 0 25px;
}

#section8 {
    padding: 80px 10px 83px 10px;
    background: #202020;
    position: relative;
}

#section8::after {
    content: "";
    width: 100%;
    height: 150px;
    background: #202020;
    position: absolute;
    left: 0;
    bottom: 0;
}

#section8 h2, #section8 h3 {
    color: #ffffff;
}

#section8 .txt-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

#section8 .txt-center p {
    margin: 15px auto !important;
    padding: 0 25px;
}

iframe {
    margin-top: 100px;
}

#section8 p {
    font-family: Montserrat-Light;
    line-height: 2;
    font-size: 0.9rem;
    color: #dddddd;
}

#address-and-contact {
    width: 300px;
    height: 100px;
    position: absolute;
    z-index: 1;
    color: #ffffff;
    font-family: Montserrat-Light;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(75, 75, 75);
}

#address-and-contact img {
    width: 30px;
    margin: 10px 20px;
}

#center-doubt {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

details {
    width: 500px;
    font-size: 0.9rem;
    background: #ffffff;
    position: relative;
}

details .summary-title {
    font-family: Roboto-Medium;
    color: #2d2e2e;
}

summary {
    height: 80px;
    display: flex;
    align-items: center;
    border: 1px solid #f2f2f2;
}

.summary-title {
    user-select: none;
    margin-right: 30px;
}

details:hover {
    cursor: pointer;
}

details .summary-content {
    border-top: 1px solid #e2e8f0;
    cursor: default;
    padding: 1em;
    font-family: Montserrat-Light;
    line-height: 1.5;
}

.summary-content {
    font-family: Raleway-Light;
    background: #fafafa;
}

.summary-content p {
    margin: 15px 10px;
}

.summary-content ul {
    margin: 10px;
}

.summary-content ul li {
    margin: 10px 0;
    margin-left: 40px;
}

details summary {
    list-style: none;
    padding: 1em;
}

details summary:focus {
    outline: none;
}

details summary:hover .summary-chevron-up svg {
    opacity: 1;
}

details .summary-chevron-up svg {
    opacity: 0.5;
}

details .summary-chevron-up, details .summary-chevron-down {
    pointer-events: none;
    position: absolute;
    top: 0.75em;
    right: 1em;
    background: #fff;
}

details .summary-chevron-up svg, details .summary-chevron-down svg {
    display: block;
}

details summary::-webkit-details-marker {
    display: none;
}

footer {
    width: 70%;
    margin: auto;
    font-family: Montserrat-Light;
    padding: 30px;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer p {
    width: fit-content;
    margin: 5px 0;
}

footer p:hover {
    text-decoration: underline;
    cursor: pointer;
}

footer p:nth-child(1) {
    margin-bottom: 10px;
    text-decoration: none;
    cursor: auto;
}

#d {
    width: 100%;
    margin-top: 40px;
    display: inline-block;
    text-align: center;
}

.btn-action-light {
    background: #ffffff;
    color: #2b2b2b;
    margin-right: 10px;
}

.btn-action-light:hover {
    background: #f8f8f8;
    color: #2b2b2b;
}
